<div class="container m-4">
    <ul class="list-group text-center">
        <li class="list-group-item text-uppercase" routerLink="login">login - reactive form</li>
        <li class="list-group-item text-uppercase" routerLink="register">Registration form</li>
        <li class="list-group-item text-uppercase" routerLink="home">home - child component - lazy loading - router param adminlist</li>
        <li class="list-group-item text-uppercase" routerLink="productlist">service</li>
        <li class="list-group-item text-uppercase" routerLink="templateform">template driven form</li>
        <li class="list-group-item text-uppercase" routerLink="databinding">Data bound component</li>
        <li class="list-group-item text-uppercase" routerLink="custompipe">custom pipe</li>
        <li class="list-group-item text-uppercase" routerLink="externaltemplate">external template</li>
        <li class="list-group-item text-uppercase" routerLink="parent">child parent communication @Input @Output</li>
        <li class="list-group-item text-uppercase" routerLink="stylebinding">style binding</li>

    </ul>
</div>


